@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.entity {
    position: absolute;
    left: var(--x);
    top: var(--y);
}

.rect {
    width: var(--width);
    height: var(--height);
    background-color: var(--color);
}

.text {
    font: 1.2em "Merriweather", sans-serif;
}
