@tailwind utilities;

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* THEME */

:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --primary-color: #2196f3;
    --secondary-color: #f5f5f5;
    --border-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1a1a1a;
        --text-color: #ffffff;
        --primary-color: #ae79d4;
        --secondary-color: #2d2d2d;
        --border-color: #404040;
    }
}

:root {
    --scene-scale: 0.25;
    --scene-width: calc(1280px * var(--scene-scale));
    --scene-height: calc(720px * var(--scene-scale));
}

/* tailwind md breakpoint */
@media (width >= 768px) {
    :root {
        --scene-scale: 0.5;
    }
}

/* tailwind xl breakpoint */
@media (width >= 1280px) {
    :root {
        --scene-scale: 0.75;
    }
}

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-serif: Merriweather, Georgia, Cambria, "Times New Roman", serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
}

@layer components {
    .entity.rect {
        width: var(--width);
        height: var(--height);
        background-color: var(--color);
    }

    .entity.selectable {
        cursor: pointer;
    }

    .entity.selectable.selected.draggable {
        cursor: move;
    }
}
