@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    font: 18px "Merriweather", sans-serif;
    cursor: default;
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 100vh;
}
